@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: #cc0303;
  border: solid #cc0303;
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em #cc0303,
    inset 0 0.125em 0.5em #cc0303;
}

#header {
  background-color: #cc0303;
  color: white;
}

.header1{
  margin: auto;
  background-color: #cc0303;
}
