#firstnav{
    
    margin-left: 10vw;
}
#secondnav{
   
    height: 80vh;
    background-image: url(starter.JPG);
}
@media only screen and (max-width: 1000px) {
    #secondnav{
     height: 88vh;
    }
   }

@media only screen and (max-width: 1000px) {
   #nm{
    justify-content: center;
   }
  }
  

#counter{
    font-weight: bold;
    font-size: 30px;
}





#what{

    height: 40vh;
}
#whatcol{
   
    display: grid;
    grid-template: repeat(4,0.3fr) / repeat(4, 0.3fr);  

}
@media only screen and (max-width: 1000px) {
    #what{
        height: 160vh;
    }
    #whatcol{
     display: inline;
     
     background-color: #740000;
    }
.card{
    margin: 30px 40%;
}


   }
.card {
    
    
    width: 300px;
    
    box-shadow: 2px 4px 10px 1px #000000;
    
  }
  
  .card > div {
   
    flex:  1 1 auto;
    width: 200px;
    height: 10vh;
  
  }


.card-text{
    color: #818181;
    font-size: 20px;
    font-weight: 900;
}































#bussiness{
    background-color: rgb(228, 228, 228);
    
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#who{
    height: 60vh;
}

@media only screen and (max-width: 1000px) {
    #who{
        height: auto;
    }

}
@media only screen and (max-width: 1000px) {
    #ooo{
        position: relative;
        top: -200px;
    }
    #bb{
        position: relative;
        bottom: -290px;
    }

}


#reach{
    background-image: url(sda.jpeg);
    background-size: 1700px;
    height: 20vh;
    background-color: #000000;
    margin: 100px 0px;

}
#reachq{
    background-color: #000000;
    opacity: .6;
    height: 20vh;
}

#our{
    background-color: #740000;
    color: white;
 
}

#bhu{
    width: 20vw;
}
#us{
  
   
    height: 20vh;
}
#whyus{
    color: #740000;
    font-size: 50px;
    font-weight: bold;
}
#OUR{
    background-color: aliceblue;
    height: 60vh;
}
#get{
    background-color: antiquewhite;
    color: rgb(107, 0, 0);
    height: 20vh;
}

#PV{
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 17px;
    height: 40vh;
}

@media only screen and (max-width: 900px) {
    #PV{
        height: 100vh;
    }
   }

   #whoid{
    border-radius: 20px;
    box-shadow: -5px 0px 0px 0px red;
    margin-left: 23vw;
    height: 20vh;
   }
   #whoid1{
    border-radius: 20px;
    box-shadow: -5px 0px 0px 0px red;
    
    height: 20vh;
   }






   @media only screen and (max-width: 900px) {
    #whoid{
        position: relative;
        top: 35vh;
        width: 60vw;
   ;    
    }
#imageid{
    position: relative;
    top: -20vh;
}
#whorow{
    height: 120vh;
}

#whoid1{
    width: 60vw;
    margin-left: 20vw;
}
#imgid1{

}

#OUR{
    height: 100vh;
}
#jvj{
    position: relative;
    left: 20vw;
}

#powerid{
    height: 40vh;
}




   }
#ik{
    background-color: rgb(146, 146, 146);
    color: white;
    
}

#nac{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#roww{
 background-color: brown;
}

#nm{
    color:brown;
    margin-top: 30vh;
    font-weight: bold;
    font-size: 35px;
    
    background: linear-gradient(to top, #740000 30%, #5f5f5f 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#btn{
    height: 5vh;
    width: 13vw;
    color: aliceblue;
      background-color: #740000;    
    box-shadow: 0px 4px 3px 1px #646464;
    border-radius: 5px;
}


@media only screen and (max-width: 1000px) {
    #btn{
     height: 6vh;
     width: 15vw;
    }
   }
   @media only screen and (max-width: 700px) {
    #btn{
     height: 6vh;
     width: 15vw;
     font-size: 15px;
    }
   }



#as{
    color: #da0404;
    
    font-size: 40px;
    font-weight: bold;
}
#c{
    font-size: 17px;
    font-weight: bold;
    color: #b8b8b8;
}

#fg{
    color: #740000;
}
#cd{
    color: rgb(0, 0, 0);
    width: 4vw;
    box-shadow: 0px 0px 0px 2px #000000;
margin-left: 3vw;
}

.dropdown:hover .dropdown-menu{
    display: block;
    
}
.dropdown-menu{
    margin-top: 0;
    
}
.dropdown-item:hover{
    background-color: #740000;
    color: white;
}



#hj{
    margin-left: 20vw;
    color: #740000;
        font-weight: bold;
        font-size: 35px;
        background: linear-gradient(to right, #740000 9%, #000000 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
#jk{
    margin-left: 20vw;
}

#kl{
    background-color: #740000;
    height: 5vh;
    box-shadow: 0px 4px 3px 1px #646464;
    border-radius: 5px;
    color: aliceblue;
    
    width: 10vw;
}

#bn{
    
   
    font-size: 18px;
}
#bb{
    box-shadow: -3px 0px 0px 0px #810000;
        border-radius: 15px;
}
#bbb{
    box-shadow: -3px 0px 0px 0px #810000;
    border-radius: 15px;
}


  


.logoid{
    display: flex;
    margin-right: 3vw;
    
}

#dod{
    color: #810000;
    
}

#reach{
    align-items: center;
}
#k{
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
}
#l{
    color: aliceblue;
    font-size: 20px;
}

#story{
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #740000;
 
}
@media only screen and (max-width: 1000px) {
    #storypart{
   
        position: relative;
       
        right: -20vw;
    }
   
   
   
    #storypart1{
   
        position: relative;
        top: 20vh;
        right: -5vw;
    }
    #storypart2{
   
        position: relative;
        top: 40vh;
        right: 10vw;
    }
    #storypart3{
   
        position: relative;
        top: 60vh;
        right: 24vw;
    }
    #story{
height: 100vh;
    }

}


#storypart{
   
    color: white;
}
#storypart1{
   
    color: white;
}
#storypart2{
   
    color: white;
}
#storypart3{
   
    color: white;
}





#sotry{
    background-color: #740000;
}

#method{
    font-weight: bold;
    font-size: 50px;
    
}
#engage{
    background-color: #b60000;
    color: white;
    font-weight: bold;
    height: 5vh;
    width: 10vw;
    border-radius: 4px;
}
#ssss{
    position: relative;
    left: 30vw;
}




   
    
    

#vb{
    font-size: 35px;
    font-weight: bold;
}
#your{
    font-weight: bold;
    font-size: 26px;
}

#ff{
    background-color: #cc0303;
    color: white;
}


#gh{
    font-size: 40px;
    color: #b60000;
    font-weight: bold;
}
#engagerow{
    background-image:  url(phone.JPG);
    height: 30vh;
    width: 99.1vw;
    background-size: cover;
    
}
#engagebutton{
    height: 10vh;
    width: 30vw;
    font-size: 40px;
    background-color: #9e0000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}


#financerow{
    background-image:  url(Financeimage.JPG);
    height: 30vh;
    width: 99.1vw;
    background-size: cover;
}


#careerrow{
    background-image:  url(Careers.JPG);
    height: 30vh;
    width: 99.1vw;
    background-size: cover;
}


#careerbutton{
    height: 10vh;
    width: 30vw;
    font-size: 40px;
    background-color: #9e0000;
    color: white;
    border-radius: 10px;
    font-weight: bold;  
}


#ror{
    margin: 90px 10px;
}

#ror1{
    margin: 90px 10px;
}
#ax{
    font-size: 40px;
    font-weight: bold;
color: #b60000;
}

.line{
    position: relative;
    left: 890px;
    background-color: #5f5f5f;
    height: 0.5vh;
    border-radius: 20px;
}


#reactbutton{
    height: 10vh;
    width: 30vw;
    font-size: 40px;
    background-color: #9e0000;
    color: white;
 
    font-weight: bold;  
}


#reactrow{
    background-image:  url(Careers.JPG);
    height: 30vh;
    width: 99.1vw;
    background-size: cover;   
}




#plm{
    margin: 40px 300px;
}

.card-text{
    font-size: 9px;
    
}
#gg{
    font-size: 20px;
   font-weight: bold;
   color: white;
   
}

#plm1{
    margin: 40px 150px;
    
}
#plmss{
    margin: 40px 15px;
    background-color: #5f5f5f;
}

#plms{
    
    display: flex;
    position: relative;
    left: 50px;
    align-items: center;
}

#plm2{
    margin: 40px 20px;
}









#care{
    margin: 15px 0px;
    font-size: 17px;

}

#whatsss{
    font-weight: bold;
    font-size: 40px;
    color: #b60000;
}


.form-group{
    width: 600px;
}
#hjS{
    border-radius: 5px;
    width: 600px;
    font-size: 20px;
    color: white;
    background-color: #b60000;
}
#nn{
    height: 50vh;
    
}

#oo{
    background-color: blueviolet;
}
.kk{
    font-size: 30px;
    font-weight: bolder;
    color: #5f5f5f;
}